ion-header {
    ion-toolbar, ion-item {
      --background: var(--ion-color-danger);
      background: var(--ion-color-danger);     
    }
  
    ion-toolbar {
      .bordered {
        --border-radius: 10px;        
      }
    } 
}

ion-content {
    --background: var(--ion-color-dark);
    height: 100%;
    // .content {
    //   display:flex;
    //   flex-flow:column;
    //   height: 150%;


    .gmt{
      margin-left: 20%;
    }
   

    .form {
      padding: 6px 0px;
      background: var(--ion-color-primary-contrast);;
      border-radius: 28px 28px 0 0;
      flex: 1;

      ion-button {
        margin-top: 25%;
      }
    }
    ion-card{
      width:100%;
      margin:0 auto;
      height:100%;
      --background: var(--ion-color-dark);
    }
    .image-center{
      margin:0 auto;
      }
    ion-item{
      margin-top:15px;
      border-radius: 0.5rem;
    }
    ion-button{
      margin:0 auto;
      border-radius:5px;
      width: 100px;
        
    }
    .reservation{
      height: 10%;
      width: 90%;
      border: solid  var(--ion-color-danger);
    
    }
    
    ion-icon{
      //width: 10px;
      margin-left: -12px;
    }
    .b{
      font-size: 25px ;
      text-align: center;
    }
      h6{
        color: var(--ion-color-primary-contrast);;
      }
      
    
}
ion-footer{
  --background: var(--ion-color-dark);
background: var(--ion-color-dark);
ion-toolbar{
  --background: var(--ion-color-dark);
  background: var(--ion-color-dark);
}
}
