<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" (click)="home()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'BOOKING.BookingDetails' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">


    <ion-card-header>
      <ion-card-title>{{'BOOKING.BOOKINGCOMPLETE' | translate}}</ion-card-title>
      <ion-card-subtitle> {{'BOOKING.BOOKING' | translate}} - ID {{id}}</ion-card-subtitle>
    </ion-card-header>
    <div id="main-container">
      <ion-item lines="none" class="bordered-box">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label><b>{{label}}</b></ion-label>
      </ion-item>
      <ion-item lines="none" class="bordered-box">
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label><b>{{numero}}</b></ion-label>
      </ion-item>
      <ion-item lines="none" class="bordered-box">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label><b>{{email}}</b> </ion-label>
      </ion-item>
      <ion-item lines="none" class="bordered-box">
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label><b>{{date}}</b></ion-label>
      </ion-item>
      <ion-item lines="none" class="bordered-box">
        <ion-icon name="time" slot="start"></ion-icon>
        <ion-label><b>{{heure}}</b></ion-label>
        <div> <b> GMT{{gmt}} </b></div>
      </ion-item>
      <ion-item lines="none" class="bordered-box">
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-label><b>{{place}} {{ 'TABLES.Places' | translate }} </b></ion-label>
      </ion-item>

    </div>


    <ion-card-subtitle style="text-align: center; color: var(--ion-color-primary-contrast);">{{dateR }}
    </ion-card-subtitle>
    <!-- <ion-button type="" (click)="menu()" expand="block" class="btn"  color="danger" mode="ios"  >{{ 'MENU.Title' | translate }}</ion-button>  -->

  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="content">
    <ion-button type="" style="color: --ion-color-primary;" class="next" (click)="menu()" expand="block">{{ 'MENU.Title'
      | translate }}</ion-button>
  </ion-toolbar>
</ion-footer>