ion-toolbar, ion-toolbar > *{
  --background: --ion-color-primary-contrast;
  background-color: var(--ion-color-primary-contrast);
  color: var(--ion-color-on-primary);
  align-self: center;
  text-align: center;
}

.content {
  padding-left: 1em;
  padding-right: 1.5em;
}


.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: 9em;
  row-gap: .4em;
  column-gap: .4em;
}

.menu-item {
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: auto;
  border: 2px solid var(--ion-color-d3d3d3);
  border-radius: 8px;
  justify-items: center;
  overflow: hidden;
  object-fit: contain;
}

.menu-item-text {
  text-align: center;
  font-size: 17px;
  font-style: normal;
  align-self: center;
  font-weight: 700;
}

.menu-item-image {
  min-height: 0;
  width: 100%;
  //border: 1px solid var(--ion-color-dfdddd);
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.sub-title{
  display: grid;
  grid-template-columns: 10% 70% 10% 10%;
  justify-items: stretch;
  align-items: stretch;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  font-weight: 700;
  font-size: 14px;
}