<ion-header class="ion-no-border">
	<ion-toolbar>

		<ion-buttons slot="start">
			<ion-back-button color="dark" (click)="home()" text=""></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ 'HOME.NetWorkError' | translate }}
		</ion-title>
		<!--a href="tel:+4968317646555" style="margin-right: 5%; text-decoration: none; color:var(--ion-color-black);"
			slot="end">
			<ion-icon name="call"></ion-icon>
		</a-->
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<div class=""></div>
	<img src="./../assets/images/errorNetwork.jpeg" alt="" style="height: 45%; width: 100%; ">
	<div class=""
		style="height: 45%; width: 100%; text-align: center; background-color: var(--ion-color-primary-contrast); margin-top: -6%;">
		<h3> <b>{{ 'ORDER.Error1' | translate }}</b></h3>
		<p>{{ 'ORDER.Error2' | translate }}</p>
	</div>
</ion-content>