<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button color="dark" text=""></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ 'MISC.PAGE_UNAVAILABLE' | translate }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<div class="main-container">
		<img src="../../../assets/icon/no_booking.svg" alt="No Orders" id="image-top"
		  style="width: 90%; margin: auto; margin-bottom: 1em;">
		<div style="text-align: center;">
		  <div style="font-size: 22px; font-weight: bold; width: 90%; margin: auto; margin-bottom: 1em;">
			{{'MISC.SERVICE_NOT_AVAILABLE' | translate}}</div>
		  <div style="font-size: 15px; font-weight: 400; width: 90%; margin: auto;">{{'MISC.SERVICE_NOT_AVAILABLE_DESC' |
			translate}}</div>
		</div>
	  </div>

</ion-content>